@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.opacity0 {
  opacity: 0;
  transition: 0.3s;
}

.opacity {
  opacity: 1;
  transition: 0.3s;
}

/** Edit this for the header **/
a:link, a:visited, a.active {
  font-family: 'Tahoma', sans-serif;
  color: #A8B7BC;
  transition: color 0.3s linear;
  text-decoration: none;
}

a:hover {
  color: #EDEAD7;
  text-decoration: none;
}

body {
  font-family: 'Tahoma', sans-serif;
  background: #161524;
}

html {
  scroll-behavior: smooth;
}

div#link_home {
    transform: scale(1.5);
    position: absolute;
    max-height: 50px;
    margin-left: 2%;
    margin-top: 15px;
    z-index:1;
}

.container {
  max-width: 60%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  font-size: 30px;
  color: white;
}

/** Arrow **/
.downArrow {
  /* To center... */
  display: block;
  bottom: 2.5%;
  min-width: 100%;
  position: absolute;
  color: white;
  animation: bounce 0.9s infinite;
}

.downArrow:hover {
  color: white;
  cursor: pointer;
}

.email-overlay {
  display: block;
  /* Keyword values */
  right: 10%;
  top: 50%;
  max-width: auto;
  transform: rotate(90deg);
  position: fixed;

  color: #857883;
  bottom: 0;
  font-family: 'Courier New', monospace;
  font-size: 17px;
}

.email-overlay::after {
    margin-top: 25%;
    display: inline-block;
    content: "";
    height: 1px;
    background: #4c474c;
    width: 200%;
    top: 50%;
    margin-top: 0px;
    margin-bottom: 100px;
}



@keyframes bounce {
  10% { bottom: 2.5%; }
  50% { bottom: 3.5%; }
}

/* Scrollbar */
.scrollbar {
  height: 100%;
  width: 2px;
  background-color: white;
}

.titles {
  color: #dab4d2;
  font-size: 25px;
  font-family: 'Courier New', monospace;
  position: relative;
  overflow: hidden;
  padding-left: 25%;
}

.titles:after {
  margin-top: 25%;
  display: inline-block;
  content: "";
  height: 1px;
  background: #4c474c;
  width: 15%;
  top: 50%;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
}

/** Header **/


.header {
  display: flex;
  justify-content: flex-end;
  align-content: right;
  align-self: right;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: right;
  margin-right: 50px;
  position: relative;
}

.headerLink{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.headerLink:hover, .headerLink:visited {
  color: #80a8b8;
}


/** Buttons **/


.btn {
  display: inline-block;
  transition: color 0.3s linear;
  background: none;
  color: #dab4d2;
  border: 1px solid #dab4d2;
  padding: 10px 20px;
  margin: 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  color: #ffe4f9;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-contact {
  display: inline-block;
  transition: color 0.3s linear;
  background: none;
  color: #ef5ae7;
  border: 1px solid #ef5ae7;
  padding: 10px 20px;
  margin: 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Courier New', monospace;
  transition: 0.3s;
}

.btn-contact:hover {
  color: #ffe4f9;
  border-color: white;
}

.btn-contact:focus {
  outline: none;
}

.btn-contact:active {
  transform: scale(0.98);
}

.btn-contact-block {
  display: block;
  width: 100%;
}


/** Home Page **/


.home {
  margin: 10% 15%;
  justify-content: center;
  display: flex;
  min-width: 50%;
  min-height: 80%;
}

.title-card {
  /* border: 1px solid steelblue;*/
  /* background-color: #1e1c30; */
  flex: 1; /* additionally, equal width */
  padding: 1em;
  font-size: 30px;
  color: white;
  border-radius: 50%;
  font-family: 'Courier New', monospace;
}


.logo-display {
  margin: 25% 25%;
  max-width: 50%;
  border-radius: 50%;
}

.home-greeting {
  color: #dab4d2;
  text-align: left;
  flex: 1; /* additionally, equal width */
  padding: 1em;
  font-size: 100px;
  font-family: 'Courier New', monospace;
}

.home-name {
  color: #dab4d2;
  font-size: 25px;
  padding-bottom: 20px;
}

.home-text {
  color: white;
  font-size: 18px;
}






/******** About ******/
.abt {
  margin-left: 25%;
  margin-top: 3.5%;
  margin-bottom: 10%;
  justify-content: left;
  display: inline-block;
  min-height: 100%;
  max-width: 50%;

  text-align: left;
  display: flex;
  font-family: 'Courier New', monospace;
  font-size: 18px;
  color: #A8B7BC;
}




/*** Experience ***/

.exp {
  margin-left: 30%;
  margin-right: 25%;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  justify-content: left;
  display: flex;
  min-height: 100%;
  max-width: 80%;
  min-width: 50%;
  border: 1px solid #363236;
}

.exp-block {
  padding: 30px;
  min-width: 30%;
  min-height: 30%;

  font-family: 'Courier New', monospace;
  font-size: 18px;
  text-align: left;
  color: white;
}

.exp-skill {
  color: #dab4d2;
  margin: 5px;
}

.exp-skill-arrow {
  color: #ef5ae7;
  padding-top: 6px;
}

.exp-overlay {
  position: absolute;
}

.exp-btn {
  width: 100%;
  background: none;
  transition: 0.3s;
  text-align: left;

  /* border: 1px solid #dab4d2; */

  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0px 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
  color: #857883;
}

.exp-btn-highlight {
  width: 100%;
  background: none;
  transition: 0.3s;
  text-align: left;
  outline: none;

  border: none;
  padding: 10px 20px;
  margin: 0px 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;

  color: #ef5ae7;
  background-color: #1f1e30;
  opacity: 1;
}

.exp-btn:hover {
  color: #ffe4f9;
  background-color: #2f2e3c;
  opacity: 1;
}

.exp-btn:focus {
  outline: none;
}

.exp-btn-block {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  margin: 0;
}

.exp-scrollbar {
  background-color: #dab3d2;
  opacity: 0;
  padding: 1px;
}

.exp-scrollbar-open {
  background-color: #dab3d2;
  padding: 1px;
}

.exp-scrollbar-highlight {
  background-color: none;
  opacity: 1;
  padding: 1px;
}

/********* Work *********/

.work {
  min-width: 100%;
  height: auto;
  padding-top: 3.5%;
  padding-bottom: 1%;
  padding-left: 15%;
  padding-right: 20%;
  align-items: left;
}

#project {
  cursor: pointer;
}

.project {
  width: 100%;
  height: auto;
  margin-bottom: 17%;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.project-header {
  color: #ef5ae7;
  font-family: 'Courier New', monospace;
  font-size: 15px;
}

.project-description-left {
  padding-top: 5%;
  display: block;
  width: 100%;
  font-family: 'Courier New', monospace;
  text-align: right;
  color: white;
}

.project-description-block-left {
  background-color: #1e1d1e;
  text-align: center;
  font-family: 'Courier New', monospace;
  margin: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #A8B7BC;
  min-width: 100%;
  min-height: 50%;
  padding: 5%;
}

.project-description-right {
  padding-top: 5%;
  display: block;
  width: 100%;
  font-family: 'Courier New', monospace;
  text-align: left;
  color: white;
}

.project-description-block-right {
  background-color: #1e1d1e;
  text-align: center;
  font-family: 'Courier New', monospace;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #A8B7BC;
  min-width: 95%;
  max-width: 95%;
  margin-bottom: 5%;
  margin-top: 5%;
  min-height: 50%;
  padding: 5%;
}

.project-image {
  max-width: 45%;
  min-width: 45%;
}

.project-image-round {
  border-radius: 25px;
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(70, 28, 88, 0.5);
  transition: background .3s linear;
  border-radius: 25px;
}

.tint:hover:before {
  background: none;
}



/********* Contact *********/

.contact {
  margin: 30px auto;
  max-width: 40%;
  text-align: left;
  min-width: 40%;
  min-height: 80%;
  color: white;
  font-family: 'Courier New', monospace;
}

#textInput{
  resize: none;
  width: 100%;
  height: auto;

  padding: 10px;
  font-size: 18px;
  font-family: 'Courier New', monospace;
}

#textInput-adjustable{
  resize: vertical;
  width: 100%;
  height: 25px;

  padding: 10px;
  font-size: 18px;
  font-family: 'Courier New', monospace;
}


.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
  transition: color 0.3s linear;
  font-weight: normal;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

/***************************************/

footer {
  margin-top: 30px;
  text-align: center;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
